/* Module 17 */
.inline-block1, .inline-block2, .inline-block3, .inline-block4 {
    display: inline-block;
    vertical-align: top;
    }
    
.inline-blockLogo {
    width: 23%;
    padding: 1%;
}
    
nav {
    width: 73%;
    padding: 1%;
    width: 73%;
    margin-left: 10%;
    margin-right: 0%;
    justify-content: center;
    background-color: #FFFEF2;
}

h1 {
    font-size: 50px;
}
    
ul {
    width: 50%;
    margin-left: auto;
}
    
.inline-blockLogo {
    text-align: center;
}
    
.heroImg {
    height: 600px;
    padding: 25px;
    position: static;
}

.header0 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 260px;
    width: 10em;
    font-size: 40px;
    color: rgb(101, 99, 99)
}

.content {
    width: 500px;
    margin: 0 auto;
}

.DownloadResume {
    justify-content: center;
}

.inline-block11, .inline-block22, .inline-block33, .inline-block44 {
    display: inline-block;
    vertical-align: top;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

/* Module 18 */
.flexContainer {
    text-align: center;
}

.mySkills {
    display: flex;
    text-align: center;
}


.section1, .section2, .section3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;

}

.child1, .child2, .child3 {
    float:left;
    width: 30%;
    text-align: center;
    justify-content: center;
    color: rgb(117, 117, 117);
    margin-bottom: 0px;
  }
  
.child1 {
    background-color: rgb(232, 251, 255);
    margin-left: 54px;
    margin-right: 15px;

}

.child2 {
    background-color: rgb(232, 251, 255);
    margin-left:24px;
    margin-right: 15px;

}

.child3 {
    background-color: rgb(232, 251, 255);
    margin-left: 24px;
    margin-right: 15px;
}

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

  h6{
    font-size: 40px;
    color: rgb(101, 99, 99)
  }

  .myWork {
    margin-left: 2px; 
    margin-top: 40px; 
    margin-right: 35px; 
    margin-bottom: 5px; 
  }

  .class1 {
    border: 1px solid #FFF3F3;
    width: 40%;
    height: 150px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(117, 117, 117);
    background-color: #FFF3F3;
  }

  .class2 {
    border: 1px solid #F3FBFF;
    width: 40%;
    height: 150px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(117, 117, 117);
    background-color: #F3FBFF;
  }

  .class3 {
    border: 1px solid #FFF1EA;
    width: 40%;
    height: 150px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(117, 117, 117);
    background-color: #FFF1EA;
  }

  .footer {
    background-color: #ffffff;
    padding: 25px;
    width: 100%;
    position: static;
    color: rgb(255, 201, 201);
    text-align: end;
}